<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C4P82JX4SY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C4P82JX4SY');
</script>
  <meta charset="UTF-8">
  <title>References</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>References</h1>

    <section>
      <h2>Data</h2>
      <ul>
        <li>mexico_mex_sdg631_2023.xlsx</li>
        <li>canada_can_sdg631_2023.xlsx</li>
        <li>unitedstatesofamerica_usa_sdg631_2023.xlsx</li>
      </ul>
      <p class="reference">
        2023 country files for SDG 6.3.1. (2023). <em>www.who.int</em>. 
        <a href="https://www.who.int/teams/environment-climate-change-and-health/water-sanitation-and-health/monitoring-and-evidence/wash-monitoring/2023-country-files-for-sdg-6.3.1" target="_blank">
          https://www.who.int/...
        </a>
      </p>
      <ul>
        <li>protein_factors.csv</li>
        <li>nitrogen_rem_fac.csv</li>
        <li>n2o_emissions_wastewater.csv</li>
        <li>mcf.csv</li>
      </ul>
      <p class="reference">
        Bartram, D., & D. Short, M. (2019). <em>2019 Refinement to the 2006 IPCC Guidelines for National Greenhouse Gas Inventories</em>. 
        <a href="https://www.ipcc-nggip.iges.or.jp/public/2019rf/pdf/5_Volume5/19R_V5_6_Ch06_Wastewater.pdf" target="_blank">
          https://www.ipcc-nggip...
        </a>
      </p>
    </section>

    <section>
      <h2>Equations</h2>
      <ul class="reference-list">
        <li>
            Bartram, D., & D. Short, M. (2019). <em>2019 Refinement to the 2006 IPCC Guidelines for National Greenhouse Gas Inventories</em> 
            <a href="https://www.ipcc-nggip.iges.or.jp/public/2019rf/pdf/5_Volume5/19R_V5_6_Ch06_Wastewater.pdf" target="_blank">
                https://www.ipcc-nggip...
              </a>
        </li>
      </ul> 
    </section>

    <section>
      <h2>Fact Box</h2>
      <ul class="reference-list">
        <li>
          Climate Change Connection. (2018). <em>CO2 equivalents | Climate Change Connection</em>. 
          <a href="https://climatechangeconnection.org/emissions/co2-equivalents/U.S." target="_blank">
            https://climatechangeconnection.org/...
          </a>
        </li>
        <li>
          Wastewater Treatment Factsheet. (2021). <em>Center for Sustainable Systems</em>. 
          <a href="https://css.umich.edu/publications/factsheets/water/us-wastewater-treatment-factsheet" target="_blank">
            https://css.umich.edu/...
          </a>
        </li>
        <li>
          World Health Organization. (2023, September 13). <em>Drinking-water</em>. 
          <a href="https://www.who.int/news-room/fact-sheets/detail/drinking-water" target="_blank">
            https://www.who.int/...
          </a>
        </li>
      </ul>
    </section>
  </div>
  <footer class="footer">
    <h2 class="footer-title">Water Treatment & Climate Change</h2>
    <p class="footer-subtitle">A project about the impact of wastewater treatment on greenhouse gas emissions</p>
    <p class="footer-description">
      This website was created for educational and illustrative purposes. All data visualizations are based on estimations and do not reflect precise or real-time emissions. 
      The figures presented do not account for methane or nitrous oxide recovery technologies, leakages, or local variations in wastewater management practices. 
      Greenhouse gas emissions have been converted to carbon dioxide equivalents (CO₂) to allow for intuitive comparison and better understanding of relative impacts across treatment systems.
      Users should treat the results as indicative rather than definitive. For scientific, policy, or engineering purposes, more detailed, peer-reviewed sources are recommended.

    </p>

    <div class="footer-buttons">
        <a href="/">
          <button class="btn btn-active">Home</button>
        </a>
      </div>
      
  </footer>
</body>
</html>
